
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "utility";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

header {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.tweet-image {
    height: 40px;
    width: 40px;
}
